

<template>
 <BaseQueue :courseId="courseId"></BaseQueue>
</template>

<script>

import router from "@/router";
import BaseQueue from "@/components/BaseQueue";
export default {
  async created() {
    if (!this.$store.state.token) {
      router.push({name: 'login'})
      return
    }
    if (this.$store.state.user.admin) {
      router.push({name: 'adminHome'})
      return
    }
  },
  props: {
    courseId: {
      required: true
    }
  },
  components:{
    BaseQueue
  }
}

</script>

<style scoped>

</style>
