<template>
  <div class="container">
   <submenu></submenu>
    <div class="fag" v-for="(courseList, index) in courses" v-bind:key="courseList">
      <label id="courseName" >{{courseList.courseName}}</label>
      <label class="fagkode">{{courseList.courseCode}}</label>
      <div class="queueIcons" id="queueLength">
        <img alt="queueIcon" src="../assets/images/queueIcon.png">
        <label class="queueSize">{{ sizes[index] }}</label>
      </div>
      <div class="queueIcons" id="queueTime">
        <img alt="Queue icon" class="queueSize" src="../assets/images/np_waiting_2630883_000000.png">
        <label class="queueTime">{{ sizes[index] * 4 + 'min' }}</label>
      </div>

      <img alt="info" id="infoIcon" src="../assets/images/np_information_501310_000000.png">
      <div id="queueInfo">

        <p>{{courseList.courseInformation}} </p>
      </div>
      <div class="fagButtons">
        <button @click="exercises(courseList.courseId)" class="exerciseButton">Øvinger</button>
      </div>
    </div>
  </div>
</template>

<script>

import submenu from "@/components/SubmenuButtons";
import router from "@/router";
import { getQueuesByCourseIdAndEmail } from '@/utils/apiutils/queueElementApi'
import { getQueueSize } from '@/utils/apiutils/courseApi'
import { getCourseByCourseId } from '@/utils/apiutils/courseApi'

export default {
  name: 'HomeView',

 async created() {
    if (!this.$store.state.token) {
      router.push({name: 'login'})
      return
    }
    if (this.$store.state.user.admin) {
      router.push({name: 'adminHome'})
      return
    }
    //shows all non active courses
    for (const courseId in this.$store.state.courses) {
      const course = await getCourseByCourseId(this.$store.state.courses[courseId])
      if (!course.courseActive) {
        this.courses.push(course)
      }
    }
    for (let i = 0; i < this.courses.length; i++) {
      this.sizes.push(await getQueueSize(this.courses[i].courseId))
    }
  },
  components:{
    submenu
  },
  data(){
    return{
      courses:[],
      sizes:[]
    }
  },

  methods:{
    exercises(courseId){
      router.push({ name: 'exerciseView', params: {userEmail: this.$store.state.user.userEmail, courseId}})
    },
    async toQueue(courseId, isActive){
      if(!isActive || await this.isUserInQueue(courseId)) {
        router.push({ name: 'queue', params: {courseId}})
      } else {
        router.push({name: 'form', params: {courseId}})
      }
    },
    isUserInQueue(courseId) {
      return getQueuesByCourseIdAndEmail(courseId, this.$store.state.user.userEmail).then(queue => {
        return !!queue
      })
    }
  }
}
</script>
<style scoped>


.fag {
  display: grid;
  grid-template-columns:200px 200px 200px 200px 200px 200px;
  background-color: #F0F3F4;
  max-width: 1100px;
  width: 100%;
  border-radius: 20px;
  border-width: 0;
  height: 160px;
  font-size: 18px;
  margin: 30px auto;
  padding-bottom:15px;
}

#courseName{
  margin-left:23px;
}
#queueInfo{
  grid-row: 2;
  grid-column: 1/4;
  margin-left: 90px;
  text-align: left;
  font-size: 16px;
}


.fagButtons{
  grid-column: 5/7;
  grid-row: 1/3;
  display: grid;
}

button{
  grid-column: auto;
  max-width: 160px;
  width: 100%;
  height: 30px;
  margin: auto;
  border-radius: 25px;
  background-color: #C92E28;
  color: white;
  font-size: 14px;
  border-width: 0;
  font-weight: 600;
  cursor: pointer;
}
button:hover {
  background-color: #be5e5b;
}
.exerciseButton{
  margin-top:40px;
}
.queueButton{
  margin-bottom: 40px;
}
#infoIcon{
  grid-row: 2;
  grid-column: 1;
  margin-left: 55px;
  margin-top: 20px;
}
label{
  margin-top: 40px;
}
.queueIcons{
  margin-top: 40px;
}
@media(max-width: 500px ){
  .container{
    margin-top: 150px;
  }
  .fag{
    display: grid;
    grid-template-columns: 195px 195px;
    max-width: 390px;
    width: 100%;
    height: 350px;
    font-size: 22px;
  }
  #infoIcon{
    grid-row:3;
  }
  #queueLength{
    grid-column: 1;
    grid-row: 2;
  }
  #queueTime{
    grid-column: 2;
    grid-row: 2;
  }
  #queueInfo{
    grid-row: 3;
    grid-column: 1/3;
  }
  button{
    max-width: 140px;
    width: 100%;
    height: 35px;
  }
  .queueIcons{
    margin-top: 0;
  }
  .fagButtons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row:4;
    grid-column: 1/3;
  }
  .queueButton{
    margin: 0 auto;
  }
  .exerciseButton{
    margin:0 auto;
  }}
</style>
