<template>
  <div id="container">
    <h1>{{ user.firstName + ' ' + user.lastName + ' - ' + course.courseName + ' Øvingsoversikt'}}</h1>
    <div class="homeButtonContainer">
      <router-link to="/" class="homeButtons" >Emner</router-link>
    </div>
    <div id="helptext">
      <label >Øving</label>
      <label >Kommentar</label>
      <label >Status</label>
    </div>
<div v-for="(exercise, index) in exercises" :key="exercise" class="exercises" :class="{'active':index===0}">
  <div class="exerciseMobile">
  <label class="mobileOnly" id="exerciseMobile">Øving</label>
   <label id="exerciseName">{{'Øving ' + (index + 1)}}</label>
  </div>

  <label class="mobileOnly" id="commentMobile">Kommentar</label>
  <p>
</p>
  <div class="exerciseMobile">
  <label class="mobileOnly" id="statusMobile">Status</label>
<img v-if="exercise" id="exerciseStatus" alt="status" src="../assets/images/np_check_4717545_000000.png">
  </div>
  </div>
    <div id="totalStatus">
      <h3>Øvingsregler</h3>
      <p>Lorem ipsum dolor sit amet, consectetur
        adipiscing elit. Interdum, tincidunt
        maximus tortor.</p>
      <div id="statusText">
      <label id="status">Status</label>
      <label id="checkmark">Godkjent <img alt="status" src="../assets/images/np_check_4717545_000000.png"></label>

      </div>
    </div>
  </div>
</template>

<script>
import router from "@/router";
import { getCourseByCourseId } from '@/utils/apiutils/courseApi'
import { getObligs } from '@/utils/apiutils/studentCourseApi'
import { getUserByEmail } from '@/utils/apiutils/userApi'

export default {
  name: "exerciseView",

  async created() {
    if (!this.$store.state.token) {
      router.push({name: 'login'})
      return
    }
    if (!this.$store.state.user.admin && this.$store.state.user.userEmail != this.userEmail) {
      router.push({ name: 'ExerciseView', params: { userEmail: this.$store.state.user.userEmail, courseId: this.courseId }})
    }
    this.course = await getCourseByCourseId(this.courseId)
    this.user = await getUserByEmail(this.userEmail)
    this.approvedExercises = await getObligs({
          userEmail : this.userEmail,
          courseId: this.courseId
    })
    for (let i = 1; i <= this.course.totObligs; i++) {
      this.exercises.push(this.approvedExercises.includes(i))
    }
    console.log("course:")
    console.log(this.course)
    console.log("Alle øvinger:")
    console.log(this.exercises)
    console.log("Godkjente øvinger:")
    console.log(this.approvedExercises)
  },

  data(){
    return {
          exercises:[],
          approvedExercises: [],
          course: {},
          user: {}
      }

    },
    props: {
      userEmail: {
        required: true,
        type: Text
      },
      courseId: {
        requred: true,
        type: Number
      }
    },
    methods: {
      
    }
}
</script>

<style scoped>
.exercises{
  grid-column: 2;
  display:grid;
  grid-template-columns: 100px 450px 100px;
  height: 80px;
  max-width: 650px;
  width: 100%;
  margin:0 auto 20px auto;
  background-color: #F0F3F4;
  border-radius: 28px;
  border-width: 0;
  font-size: 14px;

  }
  .active{
  margin-top:120px;
}
.mobileOnly{
  display: none;
}
#container{
  max-width: 1270px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  border-width: 0;
  display: grid;
  grid-template-columns: 90px 650px 60px 380px;
  margin: 100px auto 110px;
  padding-bottom: 40px;
  box-shadow: 0 10px 25px #00000029;


}
#totalStatus{
  grid-column: 4;
  grid-row: 2/4;
  margin: auto;
  background-color:#F0F3F4 ;
  border-radius: 28px;
  border-width: 0;
}
#totalStatus p{
  padding: 15px 40px 0 40px;
}
p{
  margin:auto;
}
#helptext{
  display:grid;
  grid-template-columns: 100px 440px 100px;
  margin:90px 0 0 100px;
  max-width: 650px;
  width: 100%;
  font-size: 14px;
  grid-row: 1;
}
#exerciseName{
  margin:auto;
  font-size: 20px;
}
p{
  text-align: left;
}
#exerciseStatus{
  margin:auto;
}
#statusText {
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top:15px
}
#status {
  margin-right: 100px;
}
#checkmark img{
  margin-bottom: -14px;
}
h3{
  margin-top:-33px;
  font-weight: normal;
}
@media(max-width: 500px){
  .homeButtons{
    border-radius: 28px;
    height: 40px;
    margin-bottom: 10px;
    max-width: 390px;
    width: 100%;

  }

.homeButtonContainer{
  max-width: 390px;
  width: 100%;
  margin-left: 0;
}
#container{
  display: grid;
  grid-template-columns: 1fr;
  max-width: 390px;
  width: 100%;
}
#helptext{
  display: none;
}
.exercises{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  height: 220px;
  font-size: 20px;
  grid-column: 1;
}
#exerciseStatus{
  grid-column: 2;
  grid-row: 1;
}
.exercises p{
  grid-row: 3;
  grid-column: 1/3;
  text-align: center;
  font-size: 16px;
  margin-bottom: 40px;
}
.active{
  margin-top:30px
}
.mobileOnly{
  display: inline-block;
}
#statusMobile{
  grid-column: 2;
  grid-row: 1;
}
#commentMobile{
  grid-row: 2;
  grid-column: 1/3;
  margin-top:30px;
}
#exerciseMobile{
  grid-column: 1;
  grid-row: 1;

}
#exerciseName{
  grid-column: 1;
  grid-row: 1;
  margin-left: 20px;
}
.exerciseMobile{
  margin-top:40px;

}

#exerciseStatus{
  margin-bottom: -15px;
  margin-left: 20px;

}
#totalStatus{
  grid-column: 1;
  grid-row: 1;
  margin-top: 70px;
}
}
</style>
