<template>
  <div id="background">


    <div id="login">
      <svg xmlns="http://www.w3.org/2000/svg" width="108" height="95.5" viewBox="0 0 108 95.5">
        <g id="QS_logo" transform="translate(-2.1 -2)">
          <g id="Group_2" data-name="Group 2">
            <path id="Path_42" data-name="Path 42" d="M80.9,70.3a33.723,33.723,0,0,1-3.6,5.6,16.816,16.816,0,0,1-5.7,4.4,21.162,21.162,0,0,1-9.7,2,23.624,23.624,0,0,1-7.2-1.1,21.974,21.974,0,0,1-5.3-2.4c-1.3-.9-2.8-2-4.4-3.3A25.294,25.294,0,0,0,38.6,71a12.761,12.761,0,0,0-4.8-1.1A9.883,9.883,0,0,0,26.9,73c-1.1,1.1-2,1.9-2.6,2.4a3.7,3.7,0,0,1-2.1.6,2.567,2.567,0,0,1-1.8-.7,2.136,2.136,0,0,1-.8-1.7A3.455,3.455,0,0,1,20.9,71a37.161,37.161,0,0,1,3.7-2.9c1.4-1,3.3-2.2,5.5-3.5s3.6-2.1,4.1-2.4a36.523,36.523,0,0,1-14.6-2.9A27.624,27.624,0,0,1,9.4,52.1a29.578,29.578,0,0,1-5.7-9.8A35.737,35.737,0,0,1,2.1,32,31.54,31.54,0,0,1,4,21.2a29.065,29.065,0,0,1,6-9.7,29.78,29.78,0,0,1,10.3-7A36.466,36.466,0,0,1,34.8,2a36.482,36.482,0,0,1,15,2.9,27.73,27.73,0,0,1,10.1,7.3,30.341,30.341,0,0,1,5.5,9.7,31.366,31.366,0,0,1,1.8,10.2,31.386,31.386,0,0,1-5.3,17.3c-3.5,5.4-9,9.3-16.4,11.5a47.49,47.49,0,0,0-8.9,5.3,28.448,28.448,0,0,1,9.9,2.2c4.9,1.9,8.5,3.3,11,4a27.38,27.38,0,0,0,7.6,1.1,19.109,19.109,0,0,0,11.3-3.2ZM53.2,32a54.6,54.6,0,0,0-.8-9.3,22.633,22.633,0,0,0-2.9-7.9,14.883,14.883,0,0,0-5.8-5.6,17.628,17.628,0,0,0-9-2.1,18.3,18.3,0,0,0-9.5,2.2,15.1,15.1,0,0,0-5.7,5.8A25.452,25.452,0,0,0,16.8,23a52.853,52.853,0,0,0-.8,9,65.685,65.685,0,0,0,.5,7.4,27.714,27.714,0,0,0,2.3,8,16.73,16.73,0,0,0,5.7,7c2.6,1.9,6.1,2.8,10.3,2.8a16.783,16.783,0,0,0,10.1-2.9,17.366,17.366,0,0,0,5.7-7,32.456,32.456,0,0,0,2.3-8C53,36.8,53.2,34.3,53.2,32Z" fill="#fff"/>
          </g>
          <g id="Group_3" data-name="Group 3">
            <path id="Path_43" data-name="Path 43" d="M110.1,79.4a15.848,15.848,0,0,1-1.2,5.8,24.122,24.122,0,0,1-3.5,5.9,18.371,18.371,0,0,1-14.3,6.4,23.961,23.961,0,0,1-9.3-2,21.823,21.823,0,0,1-7.9-6.2,25.338,25.338,0,0,0-1.8,6h-4V75.1h4a38.25,38.25,0,0,0,3,8.2,21.219,21.219,0,0,0,5.4,6.6,13.651,13.651,0,0,0,8.6,2.8,10.175,10.175,0,0,0,7.1-2.4,7.9,7.9,0,0,0,2.7-6.1,8.744,8.744,0,0,0-.8-3.7,8.977,8.977,0,0,0-2.4-2.8A33.162,33.162,0,0,0,91.4,75c-1.8-1-3.9-1.9-6.2-3a52.661,52.661,0,0,1-8.8-5.1,25.057,25.057,0,0,1-5.2-5,13.6,13.6,0,0,1-2.4-4.6,16.185,16.185,0,0,1-.7-4.4,16.627,16.627,0,0,1,8.3-14.1,18.419,18.419,0,0,1,9.5-2.5,17.927,17.927,0,0,1,7.9,1.8,19.878,19.878,0,0,1,6.5,5.1,25.429,25.429,0,0,0,1.4-5.1h4.1V54.5h-4.1c-2.9-9-7.9-13.4-15.1-13.4a9.221,9.221,0,0,0-6.3,2.1A6.7,6.7,0,0,0,78,48.5,7.177,7.177,0,0,0,79.5,53a12.416,12.416,0,0,0,3.9,3.2q2.4,1.35,7.8,3.9c4.3,2.1,7.7,3.8,10.2,5.3a22.448,22.448,0,0,1,6.2,5.7A14.3,14.3,0,0,1,110.1,79.4Z" fill="#fff"/>
          </g>
        </g>
      </svg>
      <form id="loginForm" @submit.prevent="login">
        <label>Glemt passord?</label>
        <input placeholder="Skriv e-post her" class="loginInput" v-model="userEmail" type="email">
        <button class="loginInput" id="loginButton" type="submit">Send nytt passord</button>
      </form>
    </div>
  </div>
</template>

<script>

//THIS PAGE HAS NO FUNCTION AT THE MOMENT

import router from "@/router";

export default {
  name: "LoginView",

  async created() {
    if (!this.$store.state.token) {
      router.push('login')
      return
    }
  },
  data () {
    return {
      userEmail: '',

    }
  }
}
</script>

<style scoped>
nav{
  visibility: hidden;
}
#background{
  height: 100%;
  background-color: #7BBCD7;
}

#login{
  display: grid;
  grid-column: auto;
  max-width: 350px;
  width: 100%;
  margin:auto;
  padding-top: 250px;
  font-size: 18px;
}
#loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loginInput{
  border-radius: 25px;
  height: 50px;
  margin: 10px 0;
  text-align: center;
  border-width: 0;
  color: #626262;
  font-family: Roboto, sans-serif;
  font-size: 18px;
}
svg{
  margin: auto auto 50px;
}
label{

  font-size: 20px;
  margin-bottom: 15px;

}
#loginButton{
  background-color: #C92E28;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

#loginButton:hover {
  background-color: #c3615e;
}
</style>
