<template>
<div class="container">
  <div class="homeButtonContainer">
    <router-link to="/" class="homeButtons" >Emner</router-link>
  </div>
  <fieldset id="Location">
    <legend>Lokasjon</legend>
    <select v-model="location.selectedCampus">
      <option disabled value="">Campus</option>
      <option v-for="campus in location.campus" v-bind:key="campus">{{campus}}</option>
    </select>
    <label>{{location.campusError}}</label>
    <select v-model="location.selectedBuilding">
      <option disabled value="">Bygning</option>
      <option v-for="building in location.building" v-bind:key="building">{{building}}</option>
      <label>{{location.buildingError}}</label>
    </select>
    <select v-model="location.selectedRoom">
      <option disabled value="">Rom</option>
      <option v-for="room in location.room" v-bind:key="room">{{room}}</option>
      <label>{{location.roomError}}}</label>
    </select>

    <select v-model="location.selectedTable">
      <option disabled value="">Bord</option>
      <option v-for="table in location.table" v-bind:key="table">{{table}}</option>
      <label>{{location.tableError}}</label>
    </select>

  </fieldset>
  <fieldset id="exercises">
    <legend>Øvinger</legend>
    <div  v-for="(exercise, index) in exercises" :key="exercise" id="exerciseContainer">
      <label for="checkbox">{{index +1}}</label>
      <input type="checkbox"  v-model="exercises[index]" id="checkbox" >
    </div>
  </fieldset>
  <fieldset id="group">
    <legend>Gruppe</legend>
    <input placeholder="E-post" v-model="newGroupMember" @keyup.enter="addGroupMember">
    <div v-for="(groupmembers, index) in group " :key="groupmembers" id="groupList">
      <p class="groupBox">
        <label id="studentMail">{{ groupmembers }}</label>
        <button v-if="groupmembers!=this.$store.state.user.userEmail" id="deletebutton" @click="removeGroupMember(index)">x</button>
      </p>
    </div>
    </fieldset>
  <fieldset id="validation">
    <legend>
      Godkjenning
    </legend>
    <div>
    <label for="validationRadio">Godkjenning</label>
    <input type="radio" value=true id="validationRadio" v-model="validation" class="radio" onerror="">
    </div>
    <div>
    <label for="helpRadio">Hjelp</label>
    <input type="radio" value=false id="helpRadio" v-model="validation" class="radio">
</div>

  </fieldset>
  <fieldset id="description">
    <legend>
      Melding til studass
    </legend>
    <textarea v-model="description" placeholder="Skriv en melding til studass" ></textarea>

  </fieldset>
  <button v-if="!queueId" @click="inQueue(courseId)" class="queuebutton">
    Still deg i kø
  </button>
  <button v-else @click="editQueue(courseId, queueId, oldDate)" class="queuebutton">
    Rediger
  </button>

</div>
</template>

<script>

import router from "@/router";
import { createQueueElement } from '@/utils/apiutils/queueElementApi'
import { updateQueueElement } from '@/utils/apiutils/queueElementApi'
import { getCourseByCourseId } from '@/utils/apiutils/courseApi'
import { getQueueByQueueId } from '@/utils/apiutils/queueElementApi'
import { useField, useForm } from 'vee-validate'
import * as yup from 'yup'

export default {
  async created() {
    if (!this.$store.state.token) {
      router.push({name: 'login'})
      return
    }
    if (this.$store.state.user.admin) {
      router.push({name: 'adminHome'})
      return
    }

    const currentCourse = await getCourseByCourseId(this.courseId)
    this.course = currentCourse
    this.location.campus.push(currentCourse.campus)
    this.location.building.push(currentCourse.building)
    this.location.room.push(currentCourse.room)
    this.group.push(this.$store.state.user.userEmail)
    for (let i = 1; i <= currentCourse.numOfTables; i++) {
      this.location.table.push(i)
    }
    for (let i = 0; i < currentCourse.totObligs; i++) {
      this.exercises.push(false)
    }

    if (this.queueId) {
      const queue = await getQueueByQueueId(this.queueId)
      this.selectedCampus = queue.campus
      this.selectedBuilding = queue.campus
      this.selectedRoom = queue.campus
      this.selectedTable = queue.campus
      this.group = queue.userEmail
      this.validation = queue.validation
      this.description = queue.message
    }
  },
  methods:{
    //checks if the user has filled in location, then sends the form to the backend and the user to the queue
    async inQueue(courseId){
      if(this.location.selectedCampus === ''){
        this.campusError="velg campus"
        return
      } else if(this.location.building ===''){
        this.buildingError="Velg bygning"

        return
      } else if(this.location.selectedRoom===''){
        this.roomError="Velg rom"
        return
      } else if(this.location.selectedTable===''){
        this.tableError="Velg bord"
        return
      }
      await createQueueElement({
        userEmail: this.group,
        courseId: courseId,
        obligList: this.getExercises(),
        date: new Date(),
        campus: this.location.selectedCampus,
        building: this.location.selectedBuilding,
        room: this.location.selectedRoom,
        seat: this.location.selectedTable,
        validation: this.validation,
        message: this.description
      })

      router.push({ name: 'queue', params: {courseId}})
    },

    async editQueue(courseId, queueId, oldDate) {
      await updateQueueElement(queueId, {
        userEmail: [
          this.$store.state.user.userEmail
        ],
        courseId: courseId,
        obligList: this.getExercises(),
        date: oldDate,
        campus: this.location.selectedCampus,
        building: this.location.selectedBuilding,
        room: this.location.selectedRoom,
        seat: this.location.selectedTable,
        validation: this.validation,
        message: this.description
      })
      router.push({ name: 'queue', params: {courseId}})
    },

    getExercises() {
      let i = 1
      let obligs = []
      for (const exercise in this.exercises) {
        if (this.exercises[exercise]) {
          obligs.push(i)
        }
        i++
      }
      return obligs
    },

    addGroupMember() {
      if(this.newGroupMember!=="") {
        this.group.push(this.newGroupMember)
      }
      this.newGroupMember=""
    },
    removeGroupMember(index) {
      this.group.splice(index, 1)
    }
  },
 setup(){

    //TODO: Fix up validation

    const schema =yup.object({
            selectedCampus: yup.string().required(),
            selectedBuilding: yup.string().required(),
            selectedRoom: yup.string().required(),
            selectedTable: yup.number().required(),

      validation: yup.boolean().required(),
    })
    useForm({
         validationSchema: schema,
   })
    const { value:selectedCampus} = useField("location.selectedCampus")
    const {value:selectedBuilding} = useField("location.selectedBuilding")
   const {value:selectedRoom} = useField("location.selectedRoom")
   const {value:selectedTable} = useField("location.selectedTable")

   return{
      selectedCampus,
     selectedBuilding,
     selectedRoom,
     selectedTable,
   }
 },

  data(){
    return{
      location:{
        selectedCampus:'',
        selectedBuilding:'',
        selectedRoom:'',
        selectedTable:'',
        campusError:'',
        buildingError:'',
        roomError:'',
        tableError:'',
        campus:[],
        building: [],
        room:[],
        table:[]
      },

      exercises: [],
      description:'',
      newGroupMember:'',
      group:[],
      validation:{
        isForValidation:false,
        validation:[
          {value:true},
          { value: false}
        ]
      },
      course : {}
    }
  },
  props: {
    courseId: {
      required: true
    },
    queueId: {
      required: false
    },
    oldDate: {
      required: false
    }
  },
  name: "QueueForm",
}
</script>

<style scoped>
fieldset{
  border:none;
  border-top: solid 1px black;
  max-width: 920px;
  width: 100%;
  margin:auto;
}
legend{
  position: absolute;
  margin-top:-45px;
  font-size: 26px;

}
#Location{
  margin-top: 90px;
}
 select{
  max-width: 180px;
  width: 100%;
   height: 35px;
   border:none;
   border-radius: 25px;
   margin-bottom: 70px;
   margin-top:70px;
   margin-right: 30px;
   padding-left: 15px;
}
 textarea{
   resize: none;
   font-family: Roboto, sans-serif;
   max-width: 570px;
   width: 100%;
   height: 150px;
   border-radius: 20px;
   border:solid 1px #707070;
   text-align: left;
   margin-top: 70px;
   margin-bottom:30px;
   padding-top: 20px;
   padding-left: 20px;
 }
#checkbox{
  margin-bottom: -10px;
  margin-left: 10px;
  margin-right: 10px;
}
#group{

  display: block;
}
#group input{
  max-width: 180px;
  width: 100%;
  height: 35px;
  border:none;
  border-radius: 25px;
  margin-bottom: 20px;
  margin-top:70px;
  margin-right: 30px;
  padding-left: 15px;
  background-color: #F0F3F4;
}
.groupBox{
  margin: 0;
}
#studentMail{

  display: inline;
  margin-bottom: 20px;
}
#deletebutton{
display: inline;
grid-column: 2;
cursor: pointer;
width: 2rem;
height: 2rem;
background:none;
  border:none;
  color: #C92E28;
  font-size: 18px;

}
#groupList{
  display: inline-block;
  max-width: 250px;
  height: 2rem;
  border:none;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-right: 30px;
  padding-left: 15px;
  background-color: #F0F3F4;
}
.queuebutton{

  max-width: 210px;
  width: 100%;
  height: 40px;
  margin: auto;
  border-radius: 25px;
  background-color: #8CC0A3;
  border-width: 0;
  color: black;
  font-size: 16px;
  cursor: pointer;
}
.queuebutton:hover {
  background-color: #8CC0A3;
}
.radio{
  margin-bottom: -10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}
#validation div{
 display:inline-block;
  margin-top:30px;
  margin-bottom:70px;
}
#validation{
  margin-top:30px
}
input[type="checkbox"]{
  -webkit-appearance: initial;
  appearance: initial;
  width: 30px;
  height: 30px;
  border: 1px solid black;

  position: relative;
  border-radius: 50%;
}

input[type="checkbox"]:checked:after {
content: url("../assets/images/np_check_4717545_000000.svg");

  position: absolute;
  left: 50%;
  top: 50%;
  border:none;
  transform: translate(-50%, -50%);

}
input[type="radio"]{
  -webkit-appearance: initial;
  appearance: initial;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  position: relative;
  border-radius: 50%;
}
#exerciseContainer{
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 70px;
}

input[type="radio"]:checked:after {
  content: url("../assets/images/np_check_4717545_000000.svg");

  position: absolute;
  left: 50%;
  top: 50%;
  border:none;
  transform: translate(-50%, -50%);
}
@media(max-width: 500px){
  select{
    max-width: 390px;
    width: 100%;
    margin:10px auto;
  }
  .container{
    margin-top: 0;
    padding-top:0;
  }
  #exercises{
    margin-top:60px
  }
  textarea{
    max-width: 350px;
    width: 100%;
    margin: 40px auto;
  }
}
</style>
