<template>
  <div class="container">
    <div class="homeButtonContainer">
      <router-link to="/" class="homeButtons" >Emner</router-link>
    </div>
  <div class="user-settings">

    <div class="personinfo">
      <h2>Min profil</h2>
      <label id="firstname">{{ this.$store.state.user.firstName}}</label>
      <label id="surname">{{this.$store.state.user.lastName}}</label>
      <label id="email"> {{ this.$store.state.user.userEmail}}</label>
     <input placeholder="Alternativ e-post" id="alternateEmail" type="email">

      <img id="image" alt="profilbilde" src="../assets/images/profilbildeplaceholder.png">
      <button id="imageButton">last opp bilde</button>
      <h3>Endre passord</h3>
      <input class="passwordChange" id="currentPassword" placeholder="Nåværende passord" type="password" v-model="oldPassword">
      <input class="passwordChange" id="newPassword" placeholder="Nytt passord" type="password" v-model="newPassword1">
      <input class="passwordChange" id="repeatPassword" placeholder="Gjenta nytt passord" type="password" v-model="newPassword2">
      <button id="save" @click="updatePassword"> Lagre endringer</button>
      <p v-if="passwordFailed" class="error">Kunne ikke oppdatere passord</p>
    </div>
  </div>
    </div>
</template>
<script>
import router from "@/router";
import { validatePassword } from '@/utils/apiutils/userApi'
import { updatePassword } from '@/utils/apiutils/userApi'

 export default {
   data(){
     return{
       userInformation:"",
       oldPassword: "",
       newPassword1: "",
       newPassword2: "",
       passwordFailed: false
     }
   },
   created(){
    if (!this.$store.state.token) {
      router.push({name: 'login'})
      return
    }
   },
   methods: {
     //method that updates the password if the updated password matches with the repeated password
     async updatePassword() {
       let response = await validatePassword({
         userEmail: this.$store.state.user.userEmail,
         password: this.oldPassword
       })
       if(response && this.newPassword1 != "" && this.newPassword1==this.newPassword2) {
         await updatePassword({
            userEmail: this.$store.state.user.userEmail,
            password: this.newPassword1
         })
         router.push({name: 'home'})
       } else {
         this.passwordFailed = true
       }
     }
   }
 }
</script>
<style scoped>

.personinfo{
  display: grid;
  grid-template-columns: 290px 30px 290px 30px 290px;
  margin:auto;
  max-width: 930px;
  width: 100%;
  text-align: left;
  font-size: 18px;
}
.personinfo label{
  margin-bottom: 40px;
}
#image{
  grid-column: 5;
  grid-row: 2/4;
  margin:auto;
}
#imageButton{
  grid-column: 5;
  grid-row:4;
  max-width: 210px;
  width: 100%;
  border-radius: 28px;
  border:none;
  height: 40px;
  margin: 20px auto;
  background-color: #8CC0A3;
}
.error{
  grid-column: 3;
  grid-row: 7;
}
#save{
  grid-column: 3;
  grid-row: 8;
  max-width: 210px;
  width: 100%;
  border-radius: 28px;
  border:none;
  height: 40px;
  background-color: #8CC0A3;
  margin: 45px auto auto;
}
h2{
  grid-column: 1/6;
  border-bottom: solid 1px #707070;
  margin-bottom: 40px;
  font-weight: normal;
  font-size: 26px;
}
#firstname{
  border-bottom: solid 1px #707070;
  grid-row: 2;
  margin-top:40px;

}
#surname{
  grid-column: 3;
  grid-row: 2;
  border-bottom: solid 1px #707070;
  margin-top:40px;
}
#email{
  grid-row: 3;

  border-bottom: solid 1px #707070;
}
#alternateEmail{
  grid-row: 3;
  grid-column: 3;
  border:none;
  border-bottom: solid 1px #707070;
  margin-bottom: 40px;
}
.passwordChange input{
  max-width: 290px;
  width: 100%;

}
#currentPassword{
  grid-row: 6;
  border:none;
  border-bottom: solid 1px #707070;

}
h3{
  grid-row: 5;
  grid-column:1/6;
  border-bottom: solid 1px #707070;
  margin-bottom: 40px;
  font-weight: normal;
  font-size: 26px;
}
#newPassword{
  grid-row: 6;
  grid-column: 3;
  border:none;
  border-bottom: solid 1px #707070;
}
#repeatPassword{
  grid-column: 5;
  grid-row: 6;
  border:none;
  border-bottom: solid 1px #707070;
}
::-webkit-input-placeholder{
font-size: 16px;
}
::-moz-placeholder{
  font-size: 16px;
}
@media(max-width: 500px){
  .personinfo{
    display: grid;
    max-width: 390px;
    width: 100%;
    grid-template-columns: 1fr;
    font-size: 18px;
    margin: 45px auto auto;
  }
  .container{
    padding: 0;
    margin:0;
  }
  h2{
    text-align: center;
  }
  label{
    display: block;
  }
  #image{
    grid-row: 2;
    grid-column: 1;
  }
  #imageButton{
    grid-row: 3;
    grid-column: 1;
  }
  #firstname{
    grid-row: 4;
    grid-column: 1;
    margin:15px 0;
  }
  #surname{
    grid-row: 5;
    grid-column: 1;
    margin:15px 0 ;
  }
  #email{
    grid-row:6;
    grid-column: 1;
    margin-top: 15px;
  }
  #alternateEmail{
    grid-row:7;
    grid-column: 1;
  }
  h3{
    grid-row: 8;
    grid-column: 1;
  }
  #currentPassword{
    grid-row: 9;
    grid-column: 1;
  }
  #newPassword{
    grid-row: 10;
    grid-column: 1;
  }
  #repeatPassword{
    grid-row: 11;
    grid-column: 1;
  }
  #save{
    grid-row: 12;
    grid-column: 1;
    margin-bottom: 50px;
  }
  .passwordChange{
    margin-bottom: 30px;
  }

}
</style>
