<template>
  <div v-if="queueElement.assistant==this.$store.state.user.userEmail" class="container">
    <div class="personinfo">
      <h2>Profil</h2>
      <label id="firstname">{{ user.firstName }}</label>
      <label id="surname">{{ user.lastName }}</label>
      <label id="email"> {{ user.userEmail }}</label>
      <img id="image" alt="profilbilde" src="../assets/images/profilbildeplaceholder.png">
      </div>
    <fieldset id="Location">
      <legend>
        Lokasjon
      </legend>
      <p>Campus: {{ queueElement.campus }}</p>
      <p>Bygning: {{ queueElement.building }}</p>
      <p>Rom: {{ queueElement.room }}</p>
      <p>Bordnr: {{ queueElement.seat }}</p>
    </fieldset>

    <fieldset id="validation">
      <legend>
        Godkjenning
      </legend>
      <p>{{ queueElement.obligList }}</p>
    </fieldset>

    <fieldset id="description">
      <legend>
        Meldinger
      </legend>
      <label >Melding fra Student</label>
      <textarea v-model="queueElement.message" placeholder="Melding fra student" id="studentMessage" disabled > </textarea>
    </fieldset>

    <form @submit.prevent="validate">

      <fieldset id="validatedExercises">
        <legend>Godkjenn øvinger</legend>
        <input type="checkbox"  v-for="(exercise, index) in validatedExercises" :key="exercise" v-model="validatedExercises[index]" id="checkbox">
        <textarea v-model="feedback" placeholder="Skriv en tilbakemelding til studenten" id="studassFeedback"></textarea>
      </fieldset>

      <button type="submit" id="validatebutton">Godkjenn</button>
      <button type="button" id="cancelbutton" @click="cancel">Avbryt</button>
    </form>
  </div>
</template>

<script>

import router from "@/router";
import { getQueueByQueueId } from '@/utils/apiutils/queueElementApi'
import { getUserByEmail } from '@/utils/apiutils/userApi'
import { getCourseByCourseId } from '@/utils/apiutils/courseApi'
import { approveOblig } from '@/utils/apiutils/studentCourseApi'
import { removeAssistant } from '@/utils/apiutils/queueElementApi'
import { deleteQueueElement } from '@/utils/apiutils/queueElementApi'

export default {
  async created() {
    if (!this.$store.state.token) {
      router.push({name: 'login'})
      return
    }
    if (this.$store.state.user.admin) {
      router.push({name: 'adminHome'})
      return
    }

    this.queueElement = await getQueueByQueueId(this.queueId)
    this.user = await getUserByEmail(this.queueElement.userEmail)
    this.course = await getCourseByCourseId(this.queueElement.courseId)

    for (let i = 0; i < this.course.totObligs; i++) {
      this.validatedExercises.push(false)
    }
  },

  methods:{
    //lets the studen assistant validate the given exercises for a student
    async validate() {
      for (let i = 0; i < this.validatedExercises.length; i++) {
        if (this.validatedExercises[i]) {
          await approveOblig({
            userEmail : this.user.userEmail,
            courseId : this.course.courseId,
            obligNr : i + 1,
            feedback : this.feedback
          })
        }
      }
      //removes the student from the queue after validation
      await deleteQueueElement(this.queueId)
      router.push({
        name: 'queue',
        params: {
          courseId: this.course.courseId
        }
      })
    },
    //puts the student back in queue
    async cancel() {
      await removeAssistant(this.queueId)
      router.push({
        name: 'queue',
        params: {
          courseId: this.course.courseId
        }
      })
    }
  },

  data(){
    return{
      queueElement: {},
      user: {},
      course: {},
      validatedExercises: [],
      feedback: ''
    }
  },
  props: {
    queueId: {
      required: true
    }
  },
  name: "QueueForm",
}
</script>

<style scoped>
.personinfo{
  display: grid;
  grid-template-columns: 290px 30px 290px 30px 290px;
  margin:auto;
  max-width: 930px;
  width: 100%;
  text-align: left;
  font-size: 18px;
}
.personinfo label{
  margin-bottom: 40px;
}
#image{
  grid-column: 5;
  grid-row: 2/4;
  margin:auto;
}
#firstname{
  border-bottom: solid 1px #707070;
  grid-row: 2;
  margin-top:40px;

}
#surname{
  grid-column: 3;
  grid-row: 2;
  border-bottom: solid 1px #707070;
  margin-top:40px;
}
#email{
  grid-row: 3;

  border-bottom: solid 1px #707070;
}
#alternateEmail{
  grid-row: 3;
  grid-column: 3;
  border:none;
  border-bottom: solid 1px #707070;
  margin-bottom: 40px;
}
fieldset{
  border:none;
  border-top: solid 1px black;
  max-width: 920px;
  width: 100%;
  margin:auto;
}
legend{
  position: absolute;
  margin-top:-45px;
  font-size: 26px;

}
#Location{
  margin-top: 90px;
}
select{
  max-width: 180px;
  width: 100%;
  height: 35px;
  border:none;
  border-radius: 25px;
  margin-bottom: 70px;
  margin-top:70px;
  margin-right: 30px;
  padding-left: 15px;
}
#description{
  display: grid;
  grid-template-columns: 400px 40px 400px;
  align-items: start;
}
#studentMessage{
  grid-column: 1;
  grid-row: 2;
}
#studassFeedback{
  grid-column: 3;
}
#feedbackLabel{
  grid-column: 3;
}
#description label{
  margin-top: 40px;
  text-align: left;
  margin-left: 20px;
}
textarea{
  resize: none;
  font-family: Roboto, sans-serif;
  max-width: 377px;
  width: 100%;
  height: 150px;
  border-radius: 20px;
  border:solid 1px #707070;
  text-align: left;
  margin-top: 20px;
  margin-bottom:30px;
  padding-top: 20px;
  padding-left: 20px;
}
#checkbox{
  margin-top:40px;
  margin-bottom:100px;
}
#validatebutton{
  max-width: 210px;
  width: 100%;
  height: 40px;
  margin: auto;
  border-radius: 25px;
  background-color: #8CC0A3;
  border-width: 0;
  color: black;
  font-size: 16px;
  cursor: pointer;
}
#validatebutton:hover{
  background-color: #a9face;
}
#cancelbutton{
  max-width: 210px;
  width: 100%;
  height: 40px;
  margin: auto;
  border-radius: 25px;
  background-color: #aaaaaa;
  border-width: 0;
  color: black;
  font-size: 16px;
  cursor: pointer;
}
#cancelbutton:hover{
  background-color: #dbdada;
}
.radio{
  margin-top: 40px;
  margin-bottom: 70px;
  width: 30px;
  height: 30px;
}
input[type="checkbox"]{
  -webkit-appearance: initial;
  appearance: initial;
  width: 30px;
  height: 30px;
  border: 1px solid black;

  position: relative;
  border-radius: 50%;
}

input[type="checkbox"]:checked:after {
  content: url("../assets/images/np_check_4717545_000000.svg");

  position: absolute;
  left: 50%;
  top: 50%;
  border:none;
  transform: translate(-50%, -50%);

}
input[type="radio"]{
  -webkit-appearance: initial;
  appearance: initial;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  position: relative;
  border-radius: 50%;
}

input[type="radio"]:checked:after {
  content: url("../assets/images/np_check_4717545_000000.svg");

  position: absolute;
  left: 50%;
  top: 50%;
  border:none;
  transform: translate(-50%, -50%);

}
</style>
