<template>


    <div class="subMenuButtons">
      <router-link to="/adminHome" id="studentButton" class="routerButton">Aktive emner</router-link>
      <router-link to="/adminArchive" id="archiveButton" class="routerButton">Arkivert</router-link>
      <router-link to="/adminUserList" id="userButton" class="routerButton">Alle brukere</router-link>
  </div>
</template>

<script>

import router from "@/router";

export default {
  name: 'HomeView',

  methods:{

    toArchive(){
      router.push('courseArchive')
    },
    toStudent(){
      router.push('/')
    },
    toStudAss(){
      router.push('studasshome')
    }
  }
}
</script>
<style scoped>

.subMenuButtons{
  position: absolute;
  display: grid;
  grid-template-columns: 190px 190px 190px;
  top:152px;
  margin-left: 110px;
}
.routerButton{
  border-radius: 20px 20px 0 0 ;
  max-width: 190px;
  width: 100%;
  height: 30px;
  color:black;
  font-weight: 500;
  border:none;
  text-decoration: none;
  font-size: 18px;
  padding-top:10px
}

.router-link-active{
 height: 40px;
  margin-top: -10px;
  text-decoration: underline black  ;
}
#studentButton{
  background-color: #D99DBF;
}
#userButton{
  background-color: #7BBCD7;
}
#archiveButton{
  background-color: #F8B584;
}
#studentButton :active{
  background-color: aqua;
}
@media(max-width: 500px ){
  .subMenuButtons{
    display: grid;
    max-width: 390px ;
    width: 100%;
    grid-template-columns: none;
    margin: 35px auto auto;
    position: static;
  }
  .routerButton{
    max-width: 390px;
    border-radius: 28px;
    height: 40px;
    margin-bottom: 10px;

  }
  .router-link-active{
    margin-top: 0;
  }

}
</style>
