<template>
  <div class="container">
    <h1>{{ course.courseCode + " - " + course.courseName }}</h1>
    <div id="helptext">
      <label>Posisjon</label>
      <label>Tid</label>
      <label>Rom</label>
      <label>Øvinger</label>
      <label>Type</label>
      <label>Stud. Ass.</label>
      <label v-if="!isStudass">Rediger</label>
      <label v-else>Til godkjenning</label>
      <label>Slett</label>
    </div>
    <div class="homeButtonContainer">
      <router-link to="/" class="homeButtons" >Emner</router-link>
    </div>

    <!-- TODO: ADD INDICATION OF WHICH QUEUE ELEMENT YOU ARE IN AND WHAT YOU POSITION IS -->
    <div class="studentQueue" v-for="(studentList, index) in students" :key="studentList.queueId" :class="{studassValidation: studentList.assistant!==null}">
      <div id="queueItems">
        <div id="posistionContainer">
        <span>Posisjon</span>
        <label id="position"> {{index+1}}</label>
        </div>
        <div id="timeContainer">
        <span>Tid</span>

        <!-- TODO: MAKE TIMERS THAT UPDATE CONTINUOUSLY WITHOUT HAVING TO REFRESH -->
        <label id="time"> {{ getTimeDifference(studentList.date)}}</label>
        </div>
        <div id="roomContainer">
        <span>Rom</span>
        <label id="room">{{studentList.room}}</label>
        </div>
        <div id="exerciseContainer">
        <span>Øving</span>
        <label id="exercises"> {{studentList.obligList}}</label></div>

        <div id="typeOfValidation">
          <span>Type</span>
        <label v-if="studentList.validation"> Godkjenning</label>
        <label v-if="!studentList.validation">Hjelp </label>
        </div>
        <label id="studass">  {{studentList.assistant}}</label>

        <button v-if="studentList.userEmail.includes(this.$store.state.user.userEmail) && !isStudass" @click="edit(studentList.queueId, studentList.date)" id="edit"><img alt="Edit" src="../assets/images/np_edit_2648111_000000.png"></button>
        
        <!-- TODO: Change icon to checkmark instead of edit symbol -->
        <button v-if="isStudass" @click="toValidation(studentList.queueId)" id="approve"><img alt="Edit" src="../assets/images/np_edit_2648111_000000.png"></button>
        <button v-if="studentList.userEmail.includes(this.$store.state.user.userEmail) || isStudass" id="delete" @click="deleteQueue(studentList.queueId, index)"> <img alt="Delete" src="../assets/images/np_delete_2006475_000000.png"></button>
      </div>
    </div>
    <h2 v-if="!course.activeQueue"><br>Denne køen er ikke aktiv</h2>
  </div>

</template>

<script>

import router from "@/router";
import { getQueuesByCourseId } from '@/utils/apiutils/queueElementApi'
import { getCourseByCourseId } from '@/utils/apiutils/courseApi'
import { deleteQueueElement } from '@/utils/apiutils/queueElementApi'
import { assignAssistant } from '@/utils/apiutils/queueElementApi'


let startime= null
let startArray= []
export default {
  data(){
    return {
      name: "StudentQueue",
      students: [],
      course: {},
      isStudass: false
    }
  },
  props: {
    courseId: {
      required: true
    }
  },
  async created() {
    if (this.$store.state.assistedCourses.includes(parseInt(this.courseId))) {
      this.isStudass = true
    }
    this.populateQueue()
    this.course = await getCourseByCourseId(this.courseId)
  },
  methods: {
    edit(queueId, date){
      router.push({
        name: 'form',
        params: {
          courseId: this.courseId,
          queueId: queueId,
          oldDate: date
        }
      })
    },
    async toValidation(queueId) {
      console.log('queueId: ' + queueId)
      assignAssistant(queueId, this.$store.state.user.userEmail).then(() => {
        router.push({
          name: 'studassform',
          params: {
            queueId: queueId
          }
        })
      })
    },

    start(){
      startime= new Date();
      startArray.push(startime)
      setInterval(this.timer, 10)

    } ,
    timer(){
      for(let i = 0; i<startArray; i++){
      let current = new Date()
      let timeElapsed = new Date(current-startime)
      if(timeElapsed.getUTCMinutes()===0){

        this.students[i].time=timeElapsed.getUTCSeconds()+"s"
      }
      else if(timeElapsed.getUTCHours()===0){
        this.students[i].time=timeElapsed.getUTCMinutes()+ "min " + timeElapsed.getUTCSeconds() +"s"
      }else{
        this.students[i].time= timeElapsed.getUTCHours() + "t " + timeElapsed.getUTCMinutes() + "min " + timeElapsed.getUTCSeconds() + "s"}
    }
    },
    populateQueue() {
      getQueuesByCourseId(this.courseId).then(queue => {
        this.students = queue
      })
    },
    getTimeDifference(dt1) {
      var diff = ''
      var d1 = new Date(dt1)
      var d2 = new Date()
      var seconds = Math.round((d2.getTime() - d1.getTime()) / 1000)
      diff += Math.floor(seconds / 3600)
      diff += ':' + Math.floor((seconds % 3600) / 60)
      diff += ':' + (seconds%60)
      return diff
    },
    async deleteQueue(queueId, index) {
      await deleteQueueElement(queueId).then(() => {
        this.students.splice(index, 1)
      })
    }
  }
}
</script>

<style scoped>

#helptext{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr;
  max-width: 1080px;
  width: 100%;
  margin:auto;
}
.studentQueue{
  max-width: 1080px;
  width: 100%;
  background-color: #F0F3F4;
  border-radius: 28px;
  border-width: 0;
  height: 80px;
  margin:20px auto;
}
#queueItems{
  margin:auto;
  padding-top: 30px;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr  1fr 2fr 1fr 1fr;
}
.studassValidation{
  border:solid green 3px;
}
.subMenuButtons{
  position: absolute;
  display: grid;
  grid-template-columns: 190px 190px 190px;
  top:152px;
  margin-left: 80px;
}
.routerButton{
  border-radius: 20px 20px 0 0 ;
  max-width: 190px;
  width: 100%;
  height: 30px;
  color:black;
  font-weight: 500;
  border:none;
  text-decoration: none;
  font-size: 18px;
  padding-top:10px
}

.router-link-active {
  height: 40px;
  margin-top: -10px;
  text-decoration: underline black;
}
#queueItems span{
  display: none;
}
#studentButton{
  background-color: #D99DBF;
}
#studassButton{
  background-color: #7BBCD7;
}
#delete{
  background:none;
  border:none;
}
#edit{
  background:none;
  border:none;
}
#approve{
  background:none;
  border:none;
}
img {
  cursor: pointer;
}
img:hover {
  opacity: 0.5;
}
@media(max-width: 500px){
  #helptext{
    display: none;
  }
  .studentQueue{
    max-width: 390px;
    width: 100%;
    height: 230px;
  }
  #queueItems{
    display: grid;
    grid-template-columns: 3fr 3fr 1fr 1fr;
    font-size: 18px;
  }
  #queueItems span{
    display: inline-block;
  }
  #studass{
    display: none;
  }
  #edit{
    grid-row: 1;
    grid-column: 3;
  }
  #delete{
    grid-column: 4;
    grid-row:1;
  }
  #posistionContainer{
    grid-row: 2;
    grid-column: 1;
  }
  #timeContainer{
    grid-row: 2;
    grid-column: 2;
  }
  #roomContainer{
    grid-row: 3;
    grid-column: 1;
  }
  #exerciseContainer{
    grid-row: 3;
    grid-column: 2;
  }
  #typeOfValidation{
    grid-row: 4;
    grid-column: 1/3;
  }
  #queueItems div{
    margin-bottom:20px;
  }
  #queueItems span{
    margin-right: 10px;
  }
  .subMenuButtons{
    display: none;
  }
  .container{
    margin-top: 30px;
    padding-top: 0;
  }
}
</style>
