<template>
  <div class="container">
    <submenu></submenu>
    <div class="fag" v-for="(courseList) in courses" v-bind:key="courseList">
      <label id="courseName" >{{courseList.courseName}}</label>
      <label class="fagkode">{{courseList.courseCode}}</label>

      <img alt="info" id="infoIcon" src="@/assets/images/np_information_501310_000000.png">
      <div id="queueInfo">

        <p>{{courseList.courseInformation}} </p>
      </div>
      <div class="fagButtons">
        <button @click="exercises(courseList.courseId)" class="exerciseButton">Øvinger</button>
        <button @click="toEdit(courseList.courseId)" class="queueButton">Rediger</button>
      </div>
    </div>
  </div>
</template>

<script>

import submenu from "@/components/AdminSubmenuButtons";
import router from "@/router";
import { getCourses } from '@/utils/apiutils/courseApi'


export default {
  name: 'AdminHome',
  //methods that checks if the user is an admin and if the user is logged in
  async created() {
    if (!this.$store.state.token) {
      router.push({name: 'login'})
      return
    }
    if (!this.$store.state.user.admin) {
      router.push({name: 'home'})
      return
    }
    //gets all registered courses
    const allCourses = await getCourses()
    for (const i in allCourses) {
      if(!allCourses[i].courseActive) {
        this.courses.push(allCourses[i])
      }
    }
  },
  components:{
    submenu
  },
  data(){
    return{
      courses:[],
      sizes:[]
    }
  },

  methods:{
    exercises(courseId){
      router.push({ name: 'adminStudents', params: {courseId}})
    },
     toEdit(courseId){
        router.push({ name: 'adminEdit', params: {courseId}})
     }
  }
}
</script>
<style scoped>


.fag {
  display: grid;
  grid-template-columns:200px 200px 200px 200px 200px 200px;
  background-color: #F0F3F4;
  max-width: 1100px;
  width: 100%;
  border-radius: 20px;
  border-width: 0;
  height: 160px;
  font-size: 18px;
  margin: 30px auto;
  padding-bottom:15px;
}

#courseName{
  margin-left:23px;
}
#queueInfo{
  grid-row: 2;
  grid-column: 1/4;
  margin-left: 90px;
  text-align: left;
  font-size: 16px;
}


.fagButtons{
  grid-column: 5/7;
  grid-row: 1/3;
  display: grid;
}

button{
  grid-column: auto;
  max-width: 160px;
  width: 100%;
  height: 30px;
  margin: auto;
  border-radius: 25px;
  background-color: #C92E28;
  color: white;
  font-size: 14px;
  border-width: 0;
  font-weight: 600;
  cursor: pointer;
}
button:hover {
  background-color: #be5e5b;
}
.exerciseButton{
  margin-top:40px;
}
.queueButton{
  margin-bottom: 40px;
}
#infoIcon{
  grid-row: 2;
  grid-column: 1;
  margin-left: 55px;
  margin-top: 20px;
}
label{
  margin-top: 40px;
}
.queueIcons{
  margin-top: 40px;
}

</style>
