<template>
  <div class="container">
    <submenu></submenu>
    <h1>Administartorer</h1>
    <div id="helptext">
      <label>Fornavn</label>
      <label>Etternavn</label>
      <label>Email</label>
    </div>
    <div class="userList" v-for="(admin, index) in admins" :key="admin">
      <div id="users">
        <label id="position"> {{admin.firstName}}</label>
        <label id="time"> {{ admin.lastName }}</label>
        <label id="room">{{admin.userEmail}}</label>

        <!-- Denne knappen er først og fremst for testing -->
        <button id="deleteButton" @click="deleteAdmin(admin.userEmail, index)">X</button>
      </div>
    </div>
    <h1>Studenter</h1>
    <div id="helptext">
      <label>Fornavn</label>
      <label>Etternavn</label>
      <label>Email</label>
    </div>
    <div class="userList" v-for="(student, index) in students" :key="student">
      <div id="users">
        <label id="position"> {{student.firstName}}</label>
        <label id="time"> {{ student.lastName }}</label>
        <label id="room">{{student.userEmail}}</label>

        <!-- Denne knappen er først og fremst for testing -->
        <button id="deleteButton" @click="deleteStudent(student.userEmail, index)">X</button>
      </div>
    </div>
  </div>

</template>

<script>

import submenu from "@/components/AdminSubmenuButtons";
import router from "@/router";
import { deleteUser } from '@/utils/apiutils/userApi'
import { findStudents } from '@/utils/apiutils/userApi'
import { getAdmins } from '@/utils/apiutils/userApi'


export default {
  name: 'AdminUserList',

  async created() {
    if (!this.$store.state.token) {
      router.push({name: 'login'})
      return
    }
    if (!this.$store.state.user.admin) {
      router.push({name: 'home'})
      return
    }
    this.admins = await getAdmins()
    console.log('admins:')
    console.log(this.admins)
    this.students = await findStudents()
  },
  components:{
    submenu
  },
  data(){
    return{
      admins: [],
      students: []
    }
  },
  methods: {
    newCourse(){
      router.push({ name: 'adminCreate' })
    },
    newUser(){
      router.push({name: 'adminCreateUser'})
    },
    async deleteAdmin(email, index) {
        await deleteUser(email)
        this.admins.splice(index, 1)
    },
    async deleteStudent(email, index) {
        await deleteUser(email)
        this.students.splice(index, 1)
    }
  }
}
</script>
<style scoped>

#helptext{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr 1fr;
  max-width: 1080px;
  width: 100%;
  margin:auto;
}
.userList{
  max-width: 1080px;
  width: 100%;
  background-color: #F0F3F4;
  border-radius: 28px;
  border-width: 0;
  height: 80px;
  margin:20px auto;
}
#users{
  margin:auto;
  padding-top: 30px;
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 2fr 1fr 1fr;
}

.subMenuButtons{
  position: absolute;
  display: grid;
  grid-template-columns: 190px 190px 190px;
  top:152px;
  margin-left: 80px;
}
.routerButton{
  border-radius: 20px 20px 0 0 ;
  max-width: 190px;
  width: 100%;
  height: 30px;
  color:black;
  font-weight: 500;
  border:none;
  text-decoration: none;
  font-size: 18px;
  padding-top:10px
}

.router-link-active{
  height: 40px;
  margin-top: -10px;
  text-decoration: underline black  ;
}

button{
  max-width: 210px;
  width: 100%;
  height: 40px;
  margin: auto;
  border-radius: 25px;
  border-width: 0;
  color: black;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #c1e2d0;
}
#deletebutton {
  display: inline;
  grid-column: 7;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background-color: #F0F3F4;
}

</style>
