<template>
  <div class="container">
    <div class="homeButtonContainer">
      <router-link to="/adminHome" class="homeButtons" >Emner</router-link>
    </div>
    <fieldset id="courseInfo">
      <legend>Informasjon</legend>
      <input placeholder="Emnekode" v-model="course.courseCode">
      <input  placeholder="Emnenavn" v-model="course.courseName">
      <input  placeholder="Studieår" v-model="course.year">
      <textarea placeholder="Emnebeskrivelse" v-model="course.courseInformation"></textarea>
      <div id="active">
        <label>Er emnet aktivt?</label>
        <input type="checkbox" v-model="course.courseActive" id="activeCheckbox">
      </div>
    </fieldset>
    <fieldset id="Location">
      <legend>Lokasjon</legend>
      <input placeholder="Campus" v-model="course.campus">
      <input  placeholder="Bygning" v-model="course.building">
      <input  placeholder="Rom" v-model="course.room">
      <input  placeholder="Bord" type="number" v-model="course.numOfTables">

    </fieldset>
    <fieldset id="exercises">
      <legend>Øvinger</legend>
      <input type="number" placeholder="Antall øvinger" v-model="course.totObligs">
      <input type="number" placeholder="Antall Obligatoriske Øvinger" v-model="course.requiredObligs">
    </fieldset>

    <fieldset id="studass">
      <legend>Læringsassistenter</legend>
      <input placeholder="E-post" v-model="newStudass" @keyup.enter="addStudass">
      <div v-for="(studass, index) in assistants" :key="studass" id="studassList">
        <p class="studassbox">
        <label id="studassmail">{{ studass }}</label>
        <button id="deletebutton" @click="removeStudass(index)">x</button>
        </p>
      </div>
    </fieldset>
    <fieldset id="description">
      <legend>Registrer studenter</legend>
      <textarea v-model="severalUsers.userString"></textarea>
    </fieldset>
    <button @click="saveCourse(courseId)" id="savecourse">
      Lagre emne
    </button>
    <button @click="deleteCourse(courseId)" id="deletecourse">
      Slett emne
    </button>
  </div>
</template>

<script>

import router from "@/router";
import { getCourseByCourseId } from '@/utils/apiutils/courseApi'
import { updateCourse } from '@/utils/apiutils/courseApi'
import { deleteCourse } from '@/utils/apiutils/courseApi'
import { assignAssistant } from '@/utils/apiutils/courseApi'
import { removeAllAssistants } from '@/utils/apiutils/courseApi'
import { registerUsers } from '@/utils/apiutils/userApi'

export default {
  async created() {
    if (!this.$store.state.token) {
      router.push({name: 'login'})
      return
    }
    if (!this.$store.state.user.admin) {
      router.push({name: 'home'})
      return
    }
    this.course = await getCourseByCourseId(this.courseId)
    this.assistants = this.course.assistants
  },
  methods:{
    //edits a given course
    async saveCourse() {
      
      //TODO: add validation

      await updateCourse(this.courseId, this.course)

      await removeAllAssistants(this.courseId)
      for (const assistant in this.assistants) {
        await assignAssistant(this.courseId, this.assistants[assistant])
      }

      if (this.severalUsers.userString!="" && this.severalUsers.userString!=null) {
        await registerUsers(this.severalUsers, this.courseId)
      }

      router.push({name: 'adminHome'})
    },
    //deletes the given course
    async deleteCourse() {
      await deleteCourse(this.courseId)
      router.push({name: 'adminHome'})
    },
    //adds a student assistant to the course
    addStudass() {
      if(this.newStudass!="") {
        this.assistants.push(this.newStudass)
      }
      this.newStudass=""
    },

    removeStudass(index) {
      this.assistants.splice(index, 1)
    }
  },

  data(){
    return{
      course: {},
      newStudass: "",
      oldAssistants: [],
      assistants: [],
      severalUsers: {}
    }
  },
  props: {
    //CourseId of the course being edited
    courseId: {
      type: Number,
      required: true
    }
  },
  name: "QueueForm",
}
</script>

<style scoped>
fieldset{
  border:none;
  border-top: solid 1px black;
  max-width: 920px;
  width: 100%;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;
}
legend{
  position: absolute;
  margin-top:-45px;
  font-size: 26px;

}
#Location{
  margin-top: 90px;
  margin-bottom: 70px;
}
input{
  max-width: 180px;
  width: 100%;
  height: 35px;
  border:none;
  border-radius: 25px;

  margin-top:70px;
  margin-right: 30px;
  padding-left: 15px;
  background-color: #F0F3F4;
}
#active {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
#activeCheckbox {
  margin: 10px;
}
textarea{
  resize: none;
  font-family: Roboto, sans-serif;
  max-width: 570px;
  width: 100%;
  height: 150px;
  border-radius: 20px;
  border:solid 1px #707070;
  text-align: left;
  margin-top: 70px;
  margin-bottom:30px;
  padding-top: 20px;
  padding-left: 20px;
}
#exercises{
  margin-bottom: 70px;
}
button{
  max-width: 210px;
  width: 100%;
  height: 40px;
  margin: auto;
  border-radius: 25px;
  border-width: 0;
  color: black;
  font-size: 16px;
  cursor: pointer;
}
#savecourse {
  background-color: #8CC0A3;
  margin: 30px;
}
#savecourse:hover {
  background-color: #c1e2d0;
}
#deletecourse {
  margin: 30px;
  background-color: #e14747;
}
#deletecourse:hover {
  background-color: #e78686;
}
#deletebutton {
  display: inline;
  grid-column: 2;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background-color: #F0F3F4;
}
#deletebutton:hover {
  background-color: #e4e4e4;
}
.studassbox {
  display: grid;
  align-items: center;
  margin: 0px
}
#studassmail {
  grid-column: 1;
  display: inline;
}
#studassList{
  display: inline-block;
  max-width: 250px;
  height: 2rem;
  border:none;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-right: 30px;
  padding-left: 15px;
  background-color: #F0F3F4;
}



</style>
