<template>
<div class="container">
  <div id="informationBar">
    <h2>Øvingsgodkjenninger</h2>
    <label id="validCourse">Fag godkjent <span class="dot" > </span></label>
    <label id="invalidCourse">Fag ikke godkjent <span class="dot" id="greenDot"> </span></label>
  </div>
  <div class="students" v-for="(student, index) in studentList" v-bind:key="student">
    <label>{{student.firstName + " " + student.lastName}}</label>
    <label>Øvinger godkjent: {{ validationList[index] }}</label>
    <button @click="toObligs(student.userEmail)">Se øvinger <svg xmlns="http://www.w3.org/2000/svg" width="21.428" height="15.766" viewBox="0 0 21.428 15.766">
      <path id="Path_46" data-name="Path 46" d="M48.284,32.34l-2.527,2.527,3.571,3.571H34v3.571H49.328L45.757,45.58l2.527,2.527L54.9,41.486a1.781,1.781,0,0,0,0-2.525Z" transform="translate(-34 -32.34)" fill="#c92e28"/>
    </svg></button>
  </div>
</div>
</template>

<script>
import router from "@/router";
import { getUsersByCourseId } from '@/utils/apiutils/userApi'
import { getObligs } from '@/utils/apiutils/studentCourseApi'

export default {
  name: "adminStudentsView",

  async created() {
    if (!this.$store.state.token) {
      router.push({name: 'login'})
      return
    }
    if (!this.$store.state.user.admin) {
      router.push({name: 'home'})
      return
    }
    this.studentList = await getUsersByCourseId(this.courseId)
    for (let i = 0; i < this.studentList.length; i++) {
      this.validationList[i] = await this.getNumberOfObligs(this.studentList[i].getUserEmail)
    }
  },
  data(){
    return{
      validationList:[],
      studentList: []
    }
  },
  props:{
    courseId: {
      required: true,
      type: Number
    }
  },
  methods: {
    //gets number of approved assignments for a given student
    async getNumberOfObligs(email) {
      return getObligs({
        userEmail : email,
        courseId: this.courseId
      }).then((obligs) => {
        return obligs.length
      })
    },
    toObligs(email) {
      router.push({ name: 'exerciseView', params: {userEmail: email, courseId: this.courseId}})
    }
  },
}
</script>

<style scoped>
  .students{
    display: grid;
    grid-template-columns: 290px 290px 140px 200px;
    max-width: 920px;
    background-color: #F0F3F4;
    border-radius: 28px;
    border:none;
    font-size: 16px;
    margin: 10px auto;
  }
  .students label{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .students a{
    text-decoration: none;
    color: black;
    padding-top: 15px;
    grid-column: 4;
  }
  svg{
    margin-bottom:-4px;
  }
  .dot{
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: #F0F3F4;
    display: inline-block;
    margin-bottom: -12px;
  }
  #greenDot{
    background-color: #8CC0A3;
  }
  .studentInfo{
    background-color: #8CC0A3;
  }
#informationBar{
  display: grid;
  grid-template-columns: 260px 270px 210px 180px;
  margin:auto;
  max-width: 920px;
  width: 100%;
  border-bottom: 1px solid #707070 ;
  margin-bottom: 30px;
}
h2{
  font-weight: normal;
  font-size: 26px;
  margin-bottom: 15px;
}
#informationBar label{
  margin-top: 27px;
}
#validCourse{
  grid-column: 3;
}
#invalidCourse{
  grid-column: 4;
}
</style>
