<template>
  <div class="container">
    <div class="homeButtonContainer">
      <router-link to="/adminHome" class="homeButtons" >Emner</router-link>
    </div>
    <fieldset id="courseInfo">
      <legend>Brukerinformasjon</legend>
      <input placeholder="Epost" v-model="user.userEmail" type="email">
      <input  placeholder="Fornavn" v-model="user.firstName">
      <input  placeholder="Etternavn" v-model="user.lastName">
      <input  placeholder="Passord" v-model="password">
      <div id="active">
        <label>Er admin?</label>
        <input type="checkbox" v-model="user.admin" id="activeCheckbox">
      </div>
    </fieldset>
    <button @click="saveUser()" >
      Lagre bruker
    </button>
  </div>
</template>

<script>

import router from "@/router";
import { createUser } from '@/utils/apiutils/userApi'

export default {
  async created() {
    if (!this.$store.state.token) {
      router.push({name: 'login'})
      return
    }
    if (!this.$store.state.user.admin) {
      router.push({name: 'home'})
      return
    }
  },
  methods:{
    //creates the user entered in the input fields
    async saveUser() {
      
      //TODO: add validation

      await createUser(this.user, this.password)

      router.push({name: 'adminHome'})
    }
  },

  data(){
    return{
      user: {},
      password: ""
    }
  },
  name: "adminCreateUser",
}
</script>

<style scoped>
fieldset{
  border:none;
  border-top: solid 1px black;
  max-width: 920px;
  width: 100%;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;
}
legend{
  position: absolute;
  margin-top:-45px;
  font-size: 26px;

}
#Location{
  margin-top: 90px;
  margin-bottom: 70px;
}
input{
  max-width: 180px;
  width: 100%;
  height: 35px;
  border:none;
  border-radius: 25px;

  margin-top:70px;
  margin-right: 30px;
  padding-left: 15px;
  background-color: #F0F3F4;
}
#active {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  margin: 50px;
}
#activeCheckbox {
  margin: 10px;
}
textarea{
  resize: none;
  font-family: Roboto, sans-serif;
  max-width: 570px;
  width: 100%;
  height: 150px;
  border-radius: 20px;
  border:solid 1px #707070;
  text-align: left;
  margin-top: 70px;
  margin-bottom:30px;
  padding-top: 20px;
  padding-left: 20px;
}
#exercises{
  margin-bottom: 70px;
}
button{
  max-width: 210px;
  width: 100%;
  height: 40px;
  margin: auto;
  border-radius: 25px;
  background-color: #8CC0A3;
  border-width: 0;
  color: black;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #c1e2d0;
}
#deletebutton {
  display: inline;
  grid-column: 2;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background-color: #F0F3F4;
}
#deletebutton:hover {
  background-color: #e4e4e4;
}
.studassbox {
  display: grid;
  align-items: center;
  margin: 0px
}
#studassmail {
  grid-column: 1;
  display: inline;
}
#studassList{
  display: inline-block;
  max-width: 250px;
  height: 2rem;
  border:none;
  border-radius: 25px;
  margin-bottom: 10px;
  margin-right: 30px;
  padding-left: 15px;
  background-color: #F0F3F4;
}



</style>
