<template>

  <nav v-if="!!this.$store.state.token">
    <router-link to="/" > <img src="../src/assets/images/QS_logo.svg" alt="QS" id="homelogo"></router-link>
    <router-link to="/" id="subjects"> <label>Emner</label><svg xmlns="http://www.w3.org/2000/svg" width="32.563" height="24" viewBox="0 0 32.563 24">
      <path id="np_book_3886897_000000" d="M2.9,13.628c3.278-.862,10.112-.792,12.647,2.113l.005,17.889c-2.367-2.744-9.42-3.1-12.65-1.5Zm-.766,2.649.062,17.3c5.762-1.45,10.655-.9,13.052,1.244A29.012,29.012,0,0,0,.071,37.146L0,17.142a5.274,5.274,0,0,0,2.134-.866Zm28.295,0-.062,17.3c-5.762-1.45-10.655-.9-13.052,1.244a29.012,29.012,0,0,1,15.177,2.329l.071-20a5.274,5.274,0,0,1-2.134-.866Zm-.766-2.649c-3.278-.862-10.112-.792-12.647,2.113l-.005,17.889c2.367-2.744,9.42-3.1,12.65-1.5Z" transform="translate(0 -13.146)"/>
    </svg></router-link>
    <router-link to="/settings" id="profile"> <label id="userEmail"> {{ this.$store.state.user.userEmail }}</label><svg xmlns="http://www.w3.org/2000/svg" width="26.624" height="26.624" viewBox="0 0 26.624 26.624">
      <path id="np_profile_922823_000000" d="M28.312,15A13.312,13.312,0,1,0,41.624,28.312,13.326,13.326,0,0,0,28.312,15Zm0,6.124a4.568,4.568,0,1,1-4.374,4.564A4.491,4.491,0,0,1,28.312,21.124Zm0,18.978A11.662,11.662,0,0,1,20.1,36.755c2.245-3,5.173-4.64,8.216-4.64s5.971,1.636,8.216,4.64A11.662,11.662,0,0,1,28.312,40.1Z" transform="translate(-15 -15)"/>
    </svg></router-link>
    <div id="logout">  <label id="logoutLabel" @click="logout()"> <span>logg ut</span><svg xmlns="http://www.w3.org/2000/svg" width="26.623" height="26.624" viewBox="0 0 26.623 26.624">
      <path id="np_log-out_3266196_000000" d="M2.478-.008a2.51,2.51,0,0,0-2.486,2.5V24.124a2.507,2.507,0,0,0,2.486,2.487H11.9a2.5,2.5,0,0,0,1.978-.742,2.633,2.633,0,0,0,0-3.495,2.5,2.5,0,0,0-1.978-.75H4.978V4.984h6.969a2.492,2.492,0,0,0,1.866-.8A2.537,2.537,0,0,0,14.44,2.49a2.553,2.553,0,0,0-.627-1.7,2.494,2.494,0,0,0-1.866-.8H2.478ZM19.531,7.569a.833.833,0,0,0-.8.829V10.81H8.022a.833.833,0,0,0-.835.831v3.327a.833.833,0,0,0,.835.829h10.7v2.414a.833.833,0,0,0,1.346.65l6.226-4.9h0a.831.831,0,0,0,0-1.308L20.072,7.747a.828.828,0,0,0-.541-.178Z" transform="translate(0.008 0.008)"/>
    </svg></label>
    </div>

  </nav>
  <router-view/>

</template>

<script>
import axios from 'axios';

export default {
    created () {
    this.$store.commit('RESTORE_DATA')
    axios.interceptors.response.use(
      response => response,
      error => {
        if (error.response.status === 401) {
          this.$store.dispatch('logout')
        }
        return Promise.reject(error)
      }
    )
  },
  methods : {
    logout() {
      this.$store.dispatch('logout')
      console.log("logout")
    }
  }
}
</script>

<style>
html{
  height: 100%;
  background-color: #DEE8EC;
}
body{
  height: 100%;
  margin:0;
}

#app {
  font-family: Roboto,  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100%;
  margin: 0;
}
.container{
  font-family: Roboto,sans-serif;
  max-width: 1270px;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 10px 25px #00000029;
  padding-bottom:110px;
  padding-top:60px;
  margin: 100px auto 140px;
}
nav {
  display: grid;
  background-color: #8CC0A3;

  grid-template-columns: 6.5fr 2fr 1fr 2fr 1fr 0.5fr;
}

nav a {
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  text-decoration: none;
}

#subjects{
  grid-column: 3;
  padding-top:35px;
}
#logout{
  padding-top:35px;
}
#logoutLabel {
  cursor: pointer;
}
#profile{
  padding-top:35px;
}
nav svg{
  margin-bottom: -10px;
  margin-left:10px;
}
nav a.router-link-exact-active {
  color: #C92E28;
  fill: #C92E28;
}
.homeButtonContainer{
  position: absolute;
  top:152px;
  margin-left: 110px;
  max-width: 200px;

}
.homeButtons{
  border-radius: 20px 20px 0 0 ;
  width: 190px;
  height: 30px;
  color:white;
  font-weight: 500;
  border:none;
  text-decoration: none;
  font-size: 18px;
  padding-top:10px;
  background-color: #C92E28;
  display: inline-block;
}

@media(max-width: 500px ){
    body{
      background-color: white;
    }

    .container{
      box-shadow: none;
    }

  #logoutLabel span{
    display: none;
  }
  #userEmail{
    display: none;
  }
  nav{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 3fr;
  }
  #profile{
    grid-row:1;
    grid-column: 2;
  }
  #logout{
    grid-row: 1;
    grid-column: 3;
  }
  #subjects{
    grid-column: 4;
  }
}


</style>
